.radio-button{
    width: 342px;
    height: 135px;
    padding-top: 15px;
    background-color: #2A2A2A;
    color: #7E7E7E;
    border-radius: 10px;
    margin: 0 auto; 
    margin-top: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    font-size:12px;
}

.button-label { /* .radio-button 내부의 직접적인 label만 선택 */
    margin-top: 10px;
    margin-left: 33px;
    margin-bottom: 15px;
    font-size: 12px;
}

.radio-option{
    display: flex;
    justify-content: space-between;

    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    width: 80%;
}

.radio-option input[type="radio"]{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 

    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 1.5px #7E7E7E;
    border-radius: 50%;
    outline: none; 
    cursor: pointer;
}

.radio-option input[type='radio']:checked {
    box-shadow: 0 0 0 1.5px #02FF2E;
    background-color: #02FF2E; 
    border: 3px solid #2A2A2A; 
    
}
