
.scroll-container {
    width: 342px;
    height: 132px; /* 스크롤 영역 높이 */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    
 
  }
  
  .year-item {
    height: 30px; /* 각 아이템의 높이 */

    padding: 5px 0;
    text-align: center;
    cursor: pointer;
  }
  
  .year-item.selected {
    background-color: #ddd; /* 선택된 아이템 스타일 */
    font-weight: bold;
  }
  